[Unit]
Description=Aws IoT Speaker

[Service]
ExecStart=/usr/bin/env python /path/to/AWSIoTSpeaker/index.py -D
Restart=always
Type=forking
PIDFile=/var/run/aws-iot-speakerd.pid

[Install]
WantedBy=multi-user.target
